.wrapper {
  @apply flex flex-row justify-start w-full
  m-0
  rounded-full
  p-[6px]
  border border-borderOne;
  /* @apply relative h-14 flex items-center justify-between; */
}

.input {
  @apply w-full bg-transparent border-0 focus:bg-transparent selection:bg-transparent
  px-2 mx-2
  z-10
  order-2
  focus-visible:outline-none
  placeholder:text-placeholder;
}

.label {
  @apply absolute top-0 w-full bottom-0 
  m-0
  rounded-full
  border border-borderOne;
}

.svg {
  @apply order-1;
}

.btn {
  @apply order-3;
}

.input:focus-visible + .focusWrapper .label {
  @apply border-2;
  border-color: #64649b;
}

.input:focus-visible + .focusWrapper .svg path {
  stroke: #64649b;
}
